<h4>Take a Picture</h4> <form id="form1" name="form1" enctype="multipart/form-data"> <label for="image">Image:</label><br><input type="file" name="image" accept="image/*" capture="camera" ng-model="data.file"><br> <br> <button ng-click="getLocation()">Get location</button><br> <label for="latitude">Latitude:</label><br><input name="latitude" ng-model="data.latitude"><br> <label for="longitude">Longitude:</label><br><input name="longitude" ng-model="data.longitude"><br> <label for="description">Description:</label><br><textarea name="description" ng-model="data.description">
  </textarea><br> <pre>

  {{data}}
  </pre> <input type="button" value="Save" ng-click="submit(data)"> </form>